@charset "utf-8";
/* CSS Document */
body{ background:#ffffff}
/*头部定义start*/
header{
	background:#ff1854;/*定义头部的颜色*/
	color:#ffffff;/*定义头部文字颜色*/
}
/*头部定义end*/

/*正文定义start*/
#main-content{
	color:#999999;/*定义正文文字颜色*/
}
/*正文定义end*/

/*底部定义start*/
footer{
	background: #ffffff;
	color:#666666;
	font-size: 12px;
}

/*底部定义end*/